<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antoniafrenzel.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_datenschutz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="DataLocus"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Quiz_Start"
            android:label="Quiz starten"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Informationen_Menue"
            android:label="Informationen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antoniafrenzel.test.MainActivity" />
        </activity>
        <activity
            android:name=".Quiz"
            android:label="Quiz"/>
        <activity
            android:name=".Check"
            android:label="Dein Datenschutz Check" />
        <activity
            android:name=".Informationen"
            android:label="Informationen" />
        <activity
            android:name=".Informationen_Standort"
            android:label="Informationen" />
        <activity
            android:name=".Informationen_Google"
            android:label="Informationen" />
        <activity
            android:name=".Check_button_mail"
            android:label="Dein Datenschutz Check"/>
        <activity
            android:name=".Check_button_standortverlauf"
            android:label="Dein Datenschutz Check"/>
        <activity
            android:name=".Check_button_passwort"
            android:label="Dein Datenschutz Check"/>
        <activity
            android:name=".Check_button_Aktivitaeten"
            android:label="Dein Datenschutz Check"/>
        <activity
            android:name=".Check_button_Werbung"
            android:label="Dein Datenschutz Check"/>
        <activity
            android:name=".Impressum"
            android:label="Impressum"/>
    </application>
</manifest>